/*COLORS ON SITE
purple: #9e459a;
grey text: #676767;
purple button: #9f449b;
black: #222222;
*/

		/*-------BASIC CLASS-------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    /*line-height: 1.4em;*/
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}

@font-face{
	font-family: 'Existence-StencilLight';
	src: url('Existence-Light.otf');
	font-weight: normal;
    font-style: normal;
}

body{
	font-size: 15px;
	font-family: 'Lato', sans-serif;
}

.container{
	width: 1300px;
	margin: 0 auto;
}

		/*-------SHAPES AND LOOK OF HEXAGONS SMALL AND BIG-------*/
svg > path{
	stroke: #FFFFFF;
	fill: rgba(255, 255, 255, 0.1);
}

svg{
	width: 120px;
	height: 120px;
}

.hexagon-button-arrow > svg{
	width: 60px;
	height: 60px;
}


		/*------------MAIN PAGE ---------*/
.main-page{
	background-image: url(img/main_background.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 650px;
/*	filter: opacity(80%);*/
}

h1{
	font-family: Existence-StencilLight, sans-serif;
	color: white;
	font-size: 2.9em;
	text-align: center;
	padding-top: 60px;
	letter-spacing: 1.3px;
}

h1 > span{
	color: #9f449b;
}

.background-color{
	background-color: rgba(0,0,0,0.4);
	height: 100%;
}

.main-page-about{
	color: white;
	margin-top: 60px;
	text-align: center;
}

.main-page-about p:first-of-type{
	font-size: 2em;
	font-weight: 300;
}

.main-page-about p:nth-of-type(2){
	font-size: 0.9em;
	font-weight: 300;
	margin-top: 12px;
	letter-spacing: 0.9px;
}

.hexagon-buttons-nav p{
	color: white;
}

.two-hexagon-buttons{
	margin-left: 125px;
	float: left;
	position: relative;
}

.two-hexagon-buttons:nth-of-type(1){
	top: 140px;
	left: 90px;
}

.two-hexagon-buttons:nth-of-type(2){
	right: 20px;
}

.two-hexagon-buttons:nth-of-type(3){
	top: 140px;
	right: 120px;
}

.single-hexagon-button{
	margin-bottom: 50px;
	margin-left: 15px;
	margin-top: 50px;
	float: left;
	position: relative;
}

.single-hexagon-button:hover svg path, .hexagon-button-arrow:hover svg path{
	fill: #9f449b;
	stroke: #9f449b;
	cursor: pointer;
}

.single-hexagon-button:hover i, .single-hexagon-button:hover p, .hexagon-button-arrow:hover i{
	cursor: pointer;
}

.single-hexagon-button p{
	position: absolute;
	bottom: 25px;
	left: 40px;
	margin: 0 auto;
}

.single-hexagon-button i{
	color: white;
	font-size: 52px;
	position: absolute;
	bottom: 50px;
	left: 38px;
}

.hexagon-button-arrow{
	position: relative;
	right: 575px;
	top: 300px;
}

.hexagon-button-arrow i{
	color: white;
	font-size: 23px;
	position: relative;
	right: 43px;
	bottom: 20px;
}



