/*COLORS ON SITE
purple: #9e459a;
grey text: #676767;
purple button: #9f449b;
black: #222222;
*/

		/*-------BASIC CLASS-------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    /*line-height: 1.4em;*/
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}

@font-face{
	font-family: 'Existence-StencilLight';
	src: url('Existence-Light.otf');
	font-weight: normal;
    font-style: normal;
}

body{
	font-size: 15px;
	font-family: 'Lato', sans-serif;
}

.container{
	width: 1300px;
	margin: 0 auto;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

		/*----------H2 LOOK-------------*/
.h2-borders-colors{
	margin-top: 80px;
	margin-bottom: 80px;
	text-align: center;
	font-family: Existence-StencilLight;
	font-size: 1.9em;
	color: #676767;
	position: relative;
}

.h2-borders-colors span{
	color: #9f449b;
}

.h2-borders-colors:before{
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	border-left: 1.5px solid #9f449b;
	border-bottom: 1.5px solid #9f449b;
	position: absolute;
	top: 25px;
	left: 570px;
}

.h2-borders-colors:after{
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	border-right: 1.5px solid #9f449b;
	border-top: 1.5px solid #9f449b;
	position: absolute;
	bottom: 25px;
	right: 570px;
}


		/*---------------PURPLE BUTTON-----------*/
.purple-button{
	width: 130px;
	height: 40px;
	color: white;
	background-color: #9f449b;
	border-radius: 3px;
	border-bottom: 3px solid #6b2e68;
}


		/*-------SHAPES AND LOOK OF HEXAGONS SMALL AND BIG-------*/
svg > path{
	stroke: #FFFFFF;
	fill: rgba(255, 255, 255, 0.1);
}

svg{
	width: 120px;
	height: 120px;
}

.hexagon-button-arrow > svg{
	width: 60px;
	height: 60px;
}


		/*------------------MAIN PAGE ---------------------*/
.main-page{
	background-image: url(img/main_background.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 650px;
/*	filter: opacity(80%);*/
}

h1{
	font-family: Existence-StencilLight, sans-serif;
	color: white;
	font-size: 2.9em;
	text-align: center;
	padding-top: 60px;
	letter-spacing: 1.3px;
}

h1 > span{
	color: #9f449b;
}

.background-color{
	background-color: rgba(0,0,0,0.4);
	height: 100%;
}

.main-page-about{
	color: white;
	margin-top: 60px;
	text-align: center;
}

.main-page-about p:first-of-type{
	font-size: 2em;
	font-weight: 300;
}

.main-page-about p:nth-of-type(2){
	font-size: 0.9em;
	font-weight: 300;
	margin-top: 12px;
	letter-spacing: 0.9px;
}

.hexagon-buttons-nav p{
	color: white;
}

.two-hexagon-buttons{
	margin-left: 125px;
	float: left;
	position: relative;
}

.two-hexagon-buttons:nth-of-type(1){
	top: 140px;
	left: 90px;
}

.two-hexagon-buttons:nth-of-type(2){
	right: 20px;
}

.two-hexagon-buttons:nth-of-type(3){
	top: 140px;
	right: 120px;
}

.single-hexagon-button{
	margin-bottom: 50px;
	margin-left: 15px;
	margin-top: 50px;
	float: left;
	position: relative;
}

.single-hexagon-button svg path:hover, .hexagon-button-arrow svg path:hover, .single-hexagon-button i:hover ~ svg path{
	fill: #9f449b;
	stroke: #9f449b;
	cursor: pointer;
}

.single-hexagon-button:hover i, .single-hexagon-button:hover p, .hexagon-button-arrow:hover i{
	cursor: pointer;
}

.single-hexagon-button p{
	position: absolute;
	bottom: 25px;
	left: 40px;
	margin: 0 auto;
}

.single-hexagon-button i{
	color: white;
	font-size: 52px;
	position: absolute;
	bottom: 50px;
	left: 38px;
}

.hexagon-button-arrow{
	position: relative;
	right: 575px;
	top: 300px;
}

.hexagon-button-arrow i{
	color: white;
	font-size: 23px;
	position: relative;
	right: 43px;
	bottom: 20px;
}



		/*-----------------------INFO PAGE----------------------*/
.grey-info-page-background-wrapper, .white-menu-background{
	width: 1150px;
	margin: 0 auto;
}

.mini-logo{
	font-family: Existence-StencilLight, sans-serif;
	color: #676767;
	font-size: 1.4em;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	letter-spacing: 1.3px;
}

.mini-logo span{
	color: #9f449b;
}

.white-menu-background nav{
	margin-top: 30px;
}

.white-menu-background ul{
	list-style: none;
}

.white-menu-background li{
	color: #676767;
	margin-left: 18px;
	font-size: 0.9em;
}

.white-menu-background li:hover{
	color: #9e459a;
	cursor: pointer;
}

.grey-info-page-background{
	background-color: #eeeeee;
	height: 500px;
}

.single-hexagon-info-page{
	width: 230px;
	/*height: 400px;*/
	margin-top: 105px;
	text-align: center;
	position: relative;
}

.single-hexagon-info-page:nth-of-type(n+2){
	margin-left: 75px;
}

.single-hexagon-info-page svg{
	position: relative;
	display: block;
	width: 120px;
	height: 120px;
	margin: 0 auto;
}

.single-hexagon-info-page svg > path{
	stroke: #ccd0d2;
}

.single-hexagon-info-page i{
	color: #ccd0d2;
	font-size: 52px;
	position: absolute;
	top: 30px;
	left: 90px;
}

.single-hexagon-info-page:nth-of-type(2) i{
	left: 87px;
}

.single-hexagon-info-page:nth-of-type(4) i{
	left: 102px;
	top: 28px;
	font-size: 64px;
}

.single-hexagon-info-page p{
	color: #676767;
}

.single-hexagon-info-page p:nth-of-type(1){
	font-size: 1.2em;
	margin-top: 15px;
}

.single-hexagon-info-page p:nth-of-type(2){
	font-size: 0.9em;
	margin-top: 15px;
	letter-spacing: 2.5px;
}

.single-hexagon-info-page:hover svg path{
	stroke: #9f449b;
}

.single-hexagon-info-page:hover i, .single-hexagon-info-page:hover p{
	color: #9f449b;
}



		/*----------------------ABOUT US------------------------*/
.about-me-center-div{
	width: 1000px;
	margin: 0 auto;
}

.about-us img{
	height: 350px; 
	position: relative;
	bottom: 50px;
	left: 50px;
}

.about-me-article{
	width: 400px;
	margin-left: 50px;
}

.about-me-article p{
	letter-spacing: 1px;
	line-height: 30px;
	color: #676767;
	font-size: 14px;
}

.about-me-article button{
	margin-top: 50px;
	margin-bottom: 150px;
}



		/*---------------------QUOTE-----------------*/
.quote{
	background-image: url(img/quote_background.jpg);
	background-size: 100% auto;
	height: 350px;
}

.quote svg{
	display: block;
	margin: 0 auto;
	position: relative;
	top: 100px;
}

.quote i{
	width: 20px;
	display: block;
	margin: 0 auto;
	font-size: 50px;
	color: white;
	position: relative;
	right: 17px;
	top: 12px;
}

.quote p{
	color: white;
	font-size: 31px;
	font-weight: 400;
	text-align: center;
	position: relative;
	top: 65px;
}



		/*-------------OUR TEAM--------------*/
.our-team h2{
	margin-bottom: 60px;
}

.description-of-team-arrows{
	width: 85px;
	margin: 0 auto;
}

.description-of-team-arrows svg{
	height: 40px;
	width: 40px;
}

.description-of-team-arrows svg path{
	stroke: #9f449b;
	stroke-width: 14;
}

.description-of-team-arrows p{
	color: #9f449b;
	font-size: 30px;
	position: relative;
}

.description-of-team-arrows p:nth-of-type(1){
	color: #9f449b;
	font-size: 30px;
	bottom: 42px;
	left: 10px;
}

.description-of-team-arrows p:nth-of-type(2){
	color: #9f449b;
	font-size: 30px;
	bottom: 78px;
	left: 54px;
}

.our-team-container{
	width: 800px;
	margin: 0 auto;
}

.description-of-team{
	width: 33.33%;
	margin-bottom: 90px;
}

.description-of-team img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	/*background-color: grey;*/
}

/*.description-of-team img:hover:before{
	content: "";
	width: 50px;
	height: 50px;
	background-color: red;
}*/

.description-of-team img:hover{
	transform: scale(1.3);
}

.description-of-team > p{
	text-align: center;
}

.description-of-team > p:nth-of-type(1){
	margin-top: 55px;
	color: #373737;
	font-size: 1.2em;
}

.description-of-team > p:nth-of-type(2){
	font-size: 0.7em;
	margin-top: 15px;
}

.description-of-team i{
	font-size: 1.5em;
	color: #373737;
	border: 1px solid #373737;
	border-radius: 50%;
	padding: 5px;
	width: 25px;
	height: 25px;
	text-align: center;
}

.our-team-i{
	position: relative;
	right: -95px;
	top: 25px;
}



		/*----------------------------OUR SKILLS------------------*/
.progress-bars-wrapper{
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

.progress-bars-section {
	width: 50%;
	margin: 0 auto;
}

.progress-bars-section p{
	text-align: left;
}

.single-progress-bar{
	height: 15px;
	width: 0.5px;
	/*background-color: black;*/
}

.progress-bars-section:nth-of-type(1) .single-progress-bar{
	position: relative;
	left: 50px;
}

.progress-bars-section:nth-of-type(1) .single-progress-bar:before{
	content: "";
	display: inline-block;
	width: 50px;
	height: 15px;
	background-color: #9f449b;
	position: relative;
	right: 50px;
}

.progress-bars-section:nth-of-type(1) .single-progress-bar:after{
	content: "";
	display: inline-block;
	width: 150px;
	height: 15px;
	background-color: #f0f0f0;
	position: relative;
	bottom: 18px;
}